body {
    background-color: salmon;
    color: blue;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "r c l"
    
}

.right {
    grid-area:r;
}
.centre {
    grid-area:c;
}
.left {
    grid-area:l;
}